.c-banner-1 {
  .chart-container-mobile-row * {
    user-select: none;
  }

  .chart-container-mobile-row {
    touch-action: pan-y;
  }

  .tns-outer {
    width: calc(100%);
    //padding: 0 60px !important;
  }
  .tns-ovh {
    overflow: visible;
  }
  .chart-number,
  .chart-number-top,
  .chart-number-bottom {
    position: absolute;
    white-space: nowrap;
  }

  .chart-container-mobile {
    width: 320px;
    height: 305px;
    transform: translate(-225px, 0);
    transition: transform 1s ease 0.4s;
  }

  .tns-slide-active .chart-container-mobile {
    transform: translate(-125px, 0);
  }

  .chart-number-top {
    top: -30%;
    right: 47%;
    text-align: right;
  }

  .chart-number-top,
  .chart-number-bottom,
  .chart-number-1,
  .chart-number-2,
  .chart-number-3,
  .chart-number-4 {
    transition: all 1s ease 0.3s;
  }

  .tns-slide-active .chart-number-top {
    right: -24%;
    text-align: left;
  }
  .tns-slide-active .chart-number-bottom {
    right: 9%;
    text-align: left;
  }

  .chart-number-bottom {
    top: 100%;
    right: 47%;
    text-align: right;
  }

  .chart-number-1 {
    top: 76%;
    left: calc(100vw + 104%);
    text-align: right;
    transition: all 0.8s ease 0.3s;
  }

  .tns-slide-active .chart-number-1 {
    left: 104%;
    text-align: left;
  }
  .chart-number-2 {
    top: 13%;
    left: calc(100vw + 88%);
    text-align: right;
    transition: all 1s ease 0.4s;
  }

  .tns-slide-active .chart-number-2 {
    left: 88%;
    text-align: left;
  }

  .chart-number-3 {
    top: 13%;
    right: 82%;
    text-align: right;
    transition: all 1s ease 0.4s;
  }

  .tns-slide-active .chart-number-3 {
    right: calc(100vw + 82%);
    text-align: left;
  }

  .chart-number-4 {
    top: 79%;
    right: 103%;
    text-align: right;
    transition: all 0.8s ease 0.3s;
  }

  .tns-slide-active .chart-number-4 {
    right: calc(100vw + 103%);
    text-align: left;
  }

  .chart-image {
    width: 100%;
    height: 100%;
    outline: none !important;
    border: 0 !important;
  }
  @screen lg {
    .chart-number,
    .chart-number-top,
    .chart-number-bottom {
      transition: none;
    }

    .chart-image {
      width: 443px;
      height: auto;
      max-width: none;
      margin-left: -60px;
    }

    .chart-number-1 {
      top: -35px;
      left: 70px;
      right: auto;
    }

    .chart-number-2 {
      top: -50px;
      left: 315px;
      right: auto;
      div {
        display: inline;
      }
    }

    .chart-number-3 {
      top: 370px;
      left: 90px;
      right: auto;
      text-align: left;
    }

    .chart-number-4 {
      top: 430px;
      left: 325px;
      right: auto;
      text-align: left;
      div {
        display: inline;
      }
    }
  }
  @screen xl {
    .chart-image {
      width: 443px;
      height: auto;
      max-width: none;
      margin-left: -20px;
    }

    .chart-number-1 {
      top: -30px;
      left: 110px;
    }

    .chart-number-2 {
      top: -50px;
      left: 355px;
    }

    .chart-number-3 {
      top: 370px;
      left: 90px;
    }

    .chart-number-4 {
      top: 440px;
      left: 365px;
    }
  }
}

.c-banner-advanced-1 {
  .image-container {
    @screen lg {
      width: 1319px;
    }
    @screen xl {
      width: 1540px;
    }
  }
  .image-container-2 {
    @screen lg {
      left:-158px;
    }
    @screen xl {
      left: 0;
    }
  }
  .image-container-1 {
    @screen lg {
      left:-158px;
    }
    @screen xl {
      left:-308px;
    }
  }
}

.c-banner-advanced-2 {
  .paralax-section {
    width: 2180px;
    height: 400px;
    [class*=" text-"] {
      position: absolute;
    }
    .text-1 {
      top: 20px;
      left: -50px;
    }
    .text-2 {
      top: calc(50% - 12px);
      left: 0;
      width: 100%;
      text-align: center;
    }
    .text-3 {
      bottom: 20px;
      right: -50px;
    }
  }
  @screen lg {
    .paralax-section {
      width: 2180px;
      height: 400px;
      .text-1 {
        top: 20px;
        left: -100px;
      }
      .text-2 {
        top: calc(50% - 12px);
        left: 0;
        width: 100%;
        text-align: center;
      }
      .text-3 {
        bottom: 20px;
        right: -100px;
      }
    }
  }
}
