.c-header-invest-1 {
    
    height: 212vw;
    height: 680px;
    @screen lg {
        height: auto;
    }
}

.mountain-bg-image {
    background-position: center;
    background-size: cover;
    @screen lg {
        background-position: center;
        background-size: cover;
    }
}

.invest-product-2-header {
    h1, p {
        color:#FFFFFF;
    }
}

.invest-graph {
    position: absolute;
    top: auto;
    bottom: 0px;
    left: calc(50% - 420px);
    width: 973px;
    @screen lg {
        left: 0;
        transform: none;
        top: calc(50% + 80px);
        bottom: auto;
        width: 100%;
    }
    
}