.text-input {
  font-family: Nitti;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b27e6e;
  border: 1px solid #beb5ab;
  background-color: #f9f7f4;
  padding: 15px 11px;
  &:focus,
  &:active {
    border: 1px solid #b27e6e;
    outline: none;
  }
  &::placeholder {
    color: #9e9090;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9e9090;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9e9090;
    opacity: 1;
  }
}

.hide {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  display: none;
}

.submit-button {
  padding: 20px 45px 19px 46px;
  font-size: 14px;
  font-family: Nitti;
  text-shadow: 1px 1px 0 rgba(34, 34, 34, 0.3);
  font-family: Nitti;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f9f7f4;
  background-color: #398039;
  text-transform: uppercase;
  width: 100%;
  @screen md {
    width: auto;
  }
}

.caret-down {
  position: relative;
  display: inline;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 8px;
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-top: 8px solid transparent;
    border-right: 8px solid #b27e6e;
    transform: rotate(-315deg);
  }
}

.radio-label-card {
  display: inline-flex;
  vertical-align: middle;
  align-items: stretch;
  cursor: pointer;
  min-height: 100px;
  width: 100%;
  @screen md {
    width: 180px;
  }
  &__text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f7f4;
    border: 1px solid #e9e4dd;
    padding: 0 20px;
    width: 100%;
    min-height: 100%;
    & > div {
      font-family: Nitti;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 1.33;
      color: #a67e6e;
      font-size: 16px;
      display: block;
      width: 100%;
    }
    @screen md {
    }
  }
  b,
  strong {
    font-family: MalagaBold;
    font-weight: bold;
  }
  small {
    font-family: MalagaItalic;
    font-weight: normal;
    font-style: italic;
    color: #69625e;
    line-height: 1.33;
    display: block;
    text-transform: lowercase;
    font-size: 12px;
  }
  hr {
    border: 0px;
    border-top: 2px solid #eae6e1;
    margin-top: 9px;
    margin-bottom: 9px;
  }
  input ~ img {
    display: none;
  }
  input:checked ~ img {
    display: block;
  }

  input:checked ~ .radio-label-card__text {
    border: 2px solid #b27e6e;
  }
  @screen md {
  }
}

label > input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
}

.form-title {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: -17px;
    height: 2px;
    left: 50%;
    width: 50px;
    transform: translateX(-50%);
    background-color: #c29c78;
  }
}
