.input-label {
  @apply relative w-full flex;
}

.input-label-flex {
  @apply relative w-full flex;
}

.input-label,
.input-label-flex {
  .input-checkbox + * {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &:after {
      content:"";
      position: absolute;
      left: 0px;
      @apply border border-coalblack w-4 h-4;
    }
  }
  

  .input-checkbox:checked + * {
    &:after {
      content: "\2713";
      font-family: "Arboria";
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      @apply border border-peppermint bg-peppermint text-white;
    }
  }

}

.input-label-caret {
}

.input-checkbox {
  opacity: 0;
  width:1px;
  height:1px;
  position: relative;
  display: inline-block;
}

.text-input,
.input-text,
.input-select {
  @apply border border-arcticsilver w-full   text-coalblack;
  font-family: "Arboria";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  & + i {
    @apply text-textgray;
    font-family: "Arboria";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    /* identical to box height, or 150% */
    & + p {
      @apply hidden;
    }
  }
  &:focus,
  &:active,
  &:not(:placeholder-shown):valid {
    @apply border border-peppermint;
    + i {
      @apply text-peppermint;
    }
  }

  &:not(:placeholder-shown):invalid {
    @apply border border-alertred;
    & + i {
      @apply text-alertred;
      & + p {
        @apply block;
      }
    }
  }



  &::placeholder {
    /* Microsoft Edge */
    @apply text-midtonegray;
    opacity: 1;
    /* Medium paragraph */
    font-family: "Arboria";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

form.error {
  .text-input,
  .input-text,
  .input-select {
    &:valid {
      @apply border border-peppermint;
      + i {
        @apply text-peppermint;
      }
    }

    &:invalid {
      @apply border border-alertred;
      & + i {
        @apply text-alertred;
        & + p {
          @apply block;
        }
      }
    }
  }
  .input-checkbox:invalid + * {
    &:after {
      @apply border border-alertred;
    }
  }
}

.input-select {
  display: flex;
  appearance: none;
  position: relative;
}

.input-select-caret {
  background-color: transparent;
  background-size: 24px 24px;
  background-position: calc(100% - 16px) 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.293 9l1.414-1.414L12 12.879l5.293-5.293L18.707 9 12 15.707 5.293 9z' fill='%231A262E'/%3E%3C/svg%3E");
}
