.invest-landing-carousel-container {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: calc(50% - 472px);
  width: 973px;
  @screen lg {
    left: 0;
    transform: none;
    top: calc(50% + 80px);
    bottom: auto;
    width: 100%;
  }
}
.landing-carousel {
  left: 485px;
  top: -115px;
  position: absolute;
  
  .carousel-item-image {
    width: 115px;
    height: 115px;
  }

  .carousel-item {
    opacity: 0;
    transform: translate(100px, 0px);
    transition: opacity 0.7s ease 0s, transform 0.7s ease 0s;
    .carousel-vertical-line {
      height: 0px;
      transition: height 0.5s ease 0.7s;
    }
  }
  .carousel-item.active {
    opacity: 1;
    transform: translate(0px, 0px);
    .carousel-vertical-line {
      height: 150px;
    }
  }
  @screen lg {
    top: -211px;
    left: 72.75%;
    .carousel-item-image {
      width: 211px;
      height: 211px;
    }
    .carousel-item {
      .carousel-vertical-line {
        height: 0vw;
      }
    }

    .carousel-item.active {
      .carousel-vertical-line {
        height: 11vw;
      }
    }
    
  }
}
