{% extends '/templates/layouts/base.twig' %}
{% set headerItems = { 
    "image" : "assets/images/mansuit2.png",
    "image_mobile" : "assets/images/mansuit2.png",
	"title": "Svetovalci", 
	"description": "Through our consultancy efforts we achieve an understanding of your personal risk profile, and tailor our recommendations & guidance.", 
	"suptitle" : "Certified expertise",
	"cta" : { 
		"title" : "Naročite svetovalca", 
		"url" : "#" 
	} 
} %}

{% set articleListItems = {
	"title" : "Articles written by Myhajlo Todurov",
    "suptitle" : "Academy contributions",
	"description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
    "cta" : {
        "title" : "Naročite svetovalca",
        "url" : "#"
    },
	"items" : [
		{
			"title" : "Drugo mnenje: Ne bom investiral, saj je pred nami nova recesija",
            "url" : "#",
            "tags" : [
                {
                    "title" : "Investicije",
                    "url" : "#"
                },
                {
                    "title" : "Finance",
                    "url" : "#"
                }
            ],
            "date" : "12.12.2020",
            "author" : "Myhajlo Todurov",
            "author_url" : "#",
            "image" : "assets/images/girl-playing-article.png",
            "image_mobile" : "assets/images/girl-playing-article.png",
		},
		{
			"title" : "Lekcija zadnje krize: pasivni ali aktivni pristop k investiranju?",
            "url" : "#",
            "tags" : [
                {
                    "title" : "Investicije",
                    "url" : "#"
                },
                {
                    "title" : "Finance",
                    "url" : "#"
                }
            ],
            "date" : "12.12.2020",
            "author" : "Myhajlo Todurov",
            "author_url" : "#",
            "image" : "assets/images/guy-stairs-article.png",
            "image_mobile" : "assets/images/guy-stairs-article.png"
		},
        {
			"title" : "Lekcija zadnje krize: pasivni ali aktivni pristop k investiranju?",
            "url" : "#",
            "tags" : [
                {
                    "title" : "Investicije",
                    "url" : "#"
                },
                {
                    "title" : "Finance",
                    "url" : "#"
                }
            ],
            "date" : "12.12.2020",
            "author" : "Myhajlo Todurov",
            "author_url" : "#",
            "image" : "assets/images/guys-talking-article.png",
            "image_mobile": "assets/images/guys-talking-article.png"
		}
	]
} %}


{% set contactInfoItems = {
	"title" : "Full set of great features to make your product fresh and clean.",
	"description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
	"items" : [
		{
			"title" : "080 35 08",
			"url" : "tel:00386803508"
		},
		{
			"title" : "Kontakti in lokacija",
			"url" : "#"
		},
		{
			"title" : "info@vzajemci.com",
			"url" : "#"
		}
	],
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#",
	}
} %}


{%
    set cardListItems = {
       
       "title": "Best in class services",
       "suptitle" : "Consulting",
       "items" : [
           {
               "title" : "Naložbeno svetovanje",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Pokojninsko svetovanje",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Izdelava in spremljanje portfelja",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Optimizacija zavarovalnih polic",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Posredovanje pri bančnih storitvah",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           }
       ],
       "featured_item" : {
               "title" : "Naročite termin z svetovalcem",
               "url" : "#featured",
               "image" : "assets/images/vegelj-big.png",
               "is_featured" : true
        },
    }
%}


{% block content %}
	<main role="main" class="p-consult-4">
		{% include "/templates/components/header-consult-2.twig" with { params: headerItems } %}
		<div class="mb-14 lg:mb-50"></div>

		<div class="mb-16 lg:mb-30"></div>

		<div class="mb-32 lg:mb-36"></div>
        {% include "/templates/components/card-list-1.twig" with { params: cardListItems } %}
        <div class="mb-2 lg:mb-24"></div>
		{% include "/templates/components/contact-info-1.twig" with { params: contactInfoItems } %}
	</main>
{% endblock %}
