{% extends '/templates/layouts/base.twig' %}
{% set headerItems = { 
    "image" : "assets/images/girl-working-on-computer.jpg",
    
    "suptitle" : "Vaš partner pri doseganju",
	"title": "Finančnih ciljev", 
	"cta" : { 
		"title" : "Naročite svetovalca", 
		"url" : "#" 
	},
    "cta2" : {
        "title" : "Video klic v živo", 
		"url" : "#" 
    }
} %}

{% set contactInfoItems = {
	"title" : "Full set of great features to make your product fresh and clean.",
	"description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
	"items" : [
		{
			"title" : "080 35 08",
			"url" : "tel:00386803508"
		},
		{
			"title" : "Kontakti in lokacija",
			"url" : "#"
		},
		{
			"title" : "info@vzajemci.com",
			"url" : "#"
		}
	],
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#",
	}
} %}

{% set imageAsideItems1 = {
	"title": "Spremljanje trga in priprava smernic",
	"description": "We examine the risk and cost ratio of every potential investment you are interested in and advise on its viability and worth.",
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/men-talking.png",
	"image_mobile" : "assets/images/men-talking-mobile.png",
    "layout" : 1,
} %}

{% set imageAsideItems2 = {
	"title": "Razvoj novih produktov",
	"description": "Through our consultancy efforts we achieve an understanding of your personal risk profile, and tailor our recommendations & guidance.",
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/office-empty-mobile.png",
	"image_mobile" : "assets/images/office-empty-mobile.png",
    "layout" : 2,
} %}

{% set imageAsideItems3 = {
	"title": "Ocena in analiza obstoječih in novih naložbenih produktov",
	"description": "We examine the risk and cost ratio of every potential investment you are interested in and advise on its viability and worth.",
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/man-behind-mobile.png",
    "layout" : 3,
} %}

{% set imageAsideItems4 = {
	"title": "Neodvisno svetovanje za večje stranke",
	"description": "Through our consultancy efforts we achieve an understanding of your personal risk profile, and tailor our recommendations & guidance.",
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/office-empty-mobile.png",
    "layout" : 4,
} %}

{% set imageAsideItems5 = {
	"title": "Izobraževanje svetovalcev in strank,",
	"description": "We examine the risk and cost ratio of every potential investment you are interested in and advise on its viability and worth.",
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/man-behind-mobile.png",
    "layout" : 5,
} %}

{% set imageAsideItems6 = {
	"title": "Grajenje blagovne znamke",
	"description": "Through our consultancy efforts we achieve an understanding of your personal risk profile, and tailor our recommendations & guidance.",
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/office-empty-mobile.png",
    "layout" : 4,
} %}

{%
	set titleItems = {
		"title" : "Funkcije"
	}
%}

{% set advancedSectionItems = {
	"title": "Naložbeni odbor",
	"description": "Our investment board observes the market, our products, educates our consultants and in doing so,
our clients as well.",
	"cta" : {
		"title" : "Spoznajte zdaj",
		"url" : "#"
	},
	"cta2" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/office-empty-2.png",
	"image_mobile" : "assets/images/office-empty-2-mobile.png",
	"caption": "Stranke, ki so sodelovale z našimi svetovalci, so v zadnjem letu v povprečju ustvarile",
	"number": {
		"title": 17,
		"caption": "Donosnost",
		"isPercentage": true,
	}
} %}

{% set teamItems = {
	"title": "Člani odbora",
	"cta" : {
		"title" : "Želim svetovanje",
		"url" : "#"
	},
	"items" : [
		{
			"title" : "Myhajlo Todurov",
			"image" : "assets/images/vegelj-small.png"
		},
		{
			"title" : "Myhajlo Todurov",
			"image" : "assets/images/vegelj-small.png"
		},
		{
			"title" : "Myhajlo Todurov",
			"image" : "assets/images/vegelj-small.png"
		},
		{
			"title" : "Myhajlo Todurov",
			"image" : "assets/images/vegelj-small.png"
		},
		{
			"title" : "Myhajlo Todurov",
			"image" : "assets/images/vegelj-small.png"
		}
	]
} %}

{% set textAdvancedItems = {
    "title" : "During our time in the field of financial consultancy",
    "items" : [
      {
        "title" : "100.000.000",
        "suptitle" : "Več kot",
        "caption" : "evrov vloženih sredstev strank"
      },
      {
        "title" : "20.000",
        "suptitle" : "Več kot",
        "caption" : "strank"
      },
      {
        "title" : "17%",
        "suptitle" : "Več kot",
        "caption" : "donosnost"
      }
    ],
    "cta" : {
      "title" : "Naročite svetovalca",
      "url" : "#",
    },
    "image" : "assets/images/money-guy.png",
    "image_mobile" : "assets/images/money-guy-mobile.png",
  } %}

{%
    set horizontalListItems = {
        "title" : "Our core principles",
        "cta" : {
            "title" : "Naroči svetovalca",
            "url" : "#"
        },
        "items" : [
            {
                "title" : "Personalized",
                "description" : "All base UI elements are made using Nested Symbols and shared styles that are connected with one another."
            },
            {
                "title" : "Ethical",
                "description" : "All base UI elements are made using Nested Symbols and shared styles that are connected with one another."
            },
            {
                "title" : "Unbiased",
                "description" : "All base UI elements are made using Nested Symbols and shared styles that are connected with one another."
            }
        ]
    }
%}

{%
    set cardListItems = {
    "title": "Best in class services",
    "suptitle" : "Consulting",
    "items" : [
        {
            "title" : "Naložbeno svetovanje",
            "url" : "#",
            "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
        },
        {
            "title" : "Pokojninsko svetovanje",
            "url" : "#",
            "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
        },
        {
            "title" : "Izdelava in spremljanje portfelja",
            "url" : "#",
            "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
        },
        {
            "title" : "Optimizacija zavarovalnih polic",
            "url" : "#",
            "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
        },
        {
            "title" : "Posredovanje pri bančnih storitvah",
            "url" : "#",
            "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
        }
    ],
    "featured_item" : {
            "title" : "Naročite termin z svetovalcem",
            "url" : "#featured",
            "image" : "assets/images/vegelj-big.png",
            "is_featured" : true
    },
    }
%}

{%
    set cardListItems3 = {
      
      "title": "Best in class services",
      "suptitle" : "Consulting",
      "items" : [
          {
              "title" : "Naložbeno svetovanje",
              "url" : "#",
              "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
          },
          {
              "title" : "Pokojninsko svetovanje",
              "url" : "#",
              "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
          },
          {
              "title" : "Izdelava in spremljanje portfelja",
              "url" : "#",
              "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
          },
          {
              "title" : "Optimizacija zavarovalnih polic",
              "url" : "#",
              "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
          }
      ]
    }
%}

{%
        set titleWithDescription = {
            "title" : "We offer",
            "description" : "Through our consultancy efforts we achieve an understanding of your personal risk profile, and tailor our recommendations & guidance."
        }
%}

{%
        set numberWithDescription = {
            "number" : "17",
            "title" : "donosnosti",
            "suptitle" : "procentov",
            "description" : "so ustvarile stranke, ki so sodelovale z našimi svetovalci v zadnjem letu."
        }

%}


{% 
	set textBoxItems = { 
		"suptitle": "Consulting",
		"title" : "Best in class services",
		"items" : [
			{ 
				"title": "More is possible", 
				"description": "JonatanMars is a spin-off company of VZAJEMCI Group, and is a result of its extensive presence and influence in the field of finance in the past 18 years.", 
				"cta" : { "title" : "Izvejte več", "url" : "#" },
				"number": 78,
				"percentage": true,
				"title2": "Startup-ov namerava zaposlit novi kader",
			},
			{ 
				"title": "Nepremičnine", 
				"description": "Podjetje, ki je del Skupine Vzajemci. Cilj podjetja je graditi projekte, ki imajo visoko dodano vrednost, in ki bodo pustili pozitiven pečat v slovenski družbi.", 
				"cta" : { "title" : "Izvejte več", "url" : "#" },
				"number": 42,
				"title2": "Stanovanj" 
			}
		]
	} 
%}

{%
    set personInfoSliderItems = {
       "title": "Naši finančni svetovalci",
       "description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
       "cta" : {
           "title" : "NAROČITE SVETOVALCA",
           "url" : "#"
       },
	   "items" : [
		   {
			   "title" : "Dr. David Vegelj",
			   "quote" : "Key statement about the product and how exciting it is, or some other manner of interesting quote.",
			   "jobtitle" : "Cheif investment officer",
			   "image" : "assets/images/Vegelj4-big.png",
               "image_mobile": "assets/images/Vegelj4-big.png",
		   },
		   {
			   "title" : "Dr. Radovan Obal",
			   "quote" : "Key statement about the product and how exciting it is, or some other manner of interesting quote. 2",
			   "jobtitle" : "Cheif investment officer 2",
			   "image" : "assets/images/Vegelj4-big.png",
               "image_mobile": "assets/images/Vegelj4-big.png",
		   },
		   {
			   "title" : "Dr. Aleksander Fras",
			   "quote" : "Key statement about the product and how exciting it is, or some other manner of interesting quote. 3",
			   "jobtitle" : "Cheif investment officer 3",
			   "image" : "assets/images/Vegelj4-big.png",
               "image_mobile": "assets/images/Vegelj4-big.png",
		   }
	   ]
    }
%}

{% block content %}
	<main role="main" class="p-consult-5">
        {% include "/templates/components/header-consult-1.twig" with { params: headerItems } %}
        <div class="pb-14 lg:pb-30"></div>
		{% include "/templates/components/text-advanced-2.twig" with { params: textAdvancedItems } %}
		<div class="pb-14 lg:pb-30"></div>
        {% include "/templates/components/title-with-description-1.twig" with { params: titleWithDescription } %}
        <div class="pb-8 lg:pb-16"></div>
        {% include "/templates/components/image-aside-2_2.twig" with { params: imageAsideItems1 } %}
        <div class="pb-10 lg:pb-36"></div>
        {% include "/templates/components/image-aside-2_2.twig" with { params: imageAsideItems2 } %}
        <div class="pb-10 lg:pb-24"></div>
        {% include "/templates/components/image-aside-2_2.twig" with { params: imageAsideItems3 } %}
		<div class="pb-14 lg:pb-30"></div>
		{% include "/templates/components/advanced-section-1.twig" with { params: advancedSectionItems } %}
		<div class="pb-16 lg:pb-44"></div>
		{% include "/templates/components/horizontal-list-1.twig" with { params: horizontalListItems  } %}
		<div class="pb-16 lg:pb-50"></div>
		{% include "/templates/components/card-list-1.twig" with { params: cardListItems } %}
		<div class="pb-13 lg:pb-48"></div>
		{% include "/templates/components/card-list-3.twig" with { params: cardListItems3 } %}
        <div class="pb-2 lg:pb-22"></div>
        {% include "/templates/components/number-with-description-1.twig" with { params: numberWithDescription } %}
		<div class="pb-2 lg:pb-20"></div>
		{% include "/templates/components/person-info-slider-1.twig" with { params: personInfoSliderItems } %}
        <div class="pb-14 lg:pb-32"></div>
        {% include "/templates/components/textbox-double-2.twig" with { params: textBoxItems } %}
		<div class="pb-7 lg:pb-36"></div>
		{% include "/templates/components/contact-info-1.twig" with { params: contactInfoItems } %}
	</main>
{% endblock %}