{% extends '/templates/layouts/base.twig' %}
{% set headerItems = { 
    "image" : "assets/images/men-talking.png",
    "image_mobile" : "assets/images/men-talking-mobile.png",
	"title": "Naložbeno svetovanje", 
	"description": "Namen naložbenega svetovanja je, da stranka oz. vlagatelj doseže zastavljeni naložbeni cilj z izpostavljanjem čim nižjem tveganju.", 
	"suptitle" : "Certified expertise",
	"cta" : { 
		"title" : "Naročite svetovalca", 
		"url" : "#" 
	} 
} %}

{% set textSimpleItems = { 
	"title": "Naše stranke z naložbenim svetovanjem pridobijo sigurnost za dosego zastavljenega naložbenega cilja v zastavljenem časovnem okviru in ob nižjem naložbenem tveganju.", 
	"cta" : { 
		"title" : "Naročite svetovalca", 
		"url" : "#" 
	},
	"cta2" : { 
		"title" : "Video klic v živo", 
		"url" : "#" 
	} 
} %}

{% set textAdvancedItems = {
	"title" : "Our experience",
	"description": "Potrditev dolgoletnega kvalitetnega dela na področju naložbenega svetovanja smo prejeli s strani največje svetovne medijske organizacije za naložbene profesionalce Citywire, ki je s povabilom na elitno konferenco v Montreuxju Vzajemce uvrstil med sto najboljših investicijsko svetovalnih družb v Evropi",
	"items" : [
		{
			"title" : "100.000.000",
			"suptitle" : "Več kot",
			"caption" : "evrov vloženih sredstev strank"
		},
		{
			"title" : "20.000",
			"suptitle" : "Več kot",
			"caption" : "strank"
		},
		{
			"title" : "17%",
			"suptitle" : "Več kot",
			"caption" : "donosnost"
		}
	],
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#",
	},
	"image" : "assets/images/mansuit2.png",
	"image_mobile" : "assets/images/mansuit2.png",
} %}


{% set contactInfoItems = {
	"title" : "Full set of great features to make your product fresh and clean.",
	"description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
	"items" : [
		{
			"title" : "080 35 08",
			"url" : "tel:00386803508"
		},
		{
			"title" : "Kontakti in lokacija",
			"url" : "#"
		},
		{
			"title" : "info@vzajemci.com",
			"url" : "#"
		}
	],
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#",
	}
} %}

{% block content %}
	<main role="main" class="p-consult-5">
        {% include "/templates/components/header-consult-2.twig" with { params: headerItems } %}
        <div class="mb-14 lg:-mb-15"></div>
        {% include "/templates/components/text-simple-2.twig" with { params: textSimpleItems } %}
		<div class="mb-14 lg:mb-50"></div>
		{% include "/templates/components/text-advanced-1.twig" with { params: textAdvancedItems } %}
		<div class="mb-32 lg:mb-36"></div>
		{% include "/templates/components/contact-info-1.twig" with { params: contactInfoItems } %}
		
	</main>
{% endblock %}