{% extends '/templates/layouts/base.twig' %}
{% set headerItems = { 
    "image" : "assets/images/mansuit2.png",
    "image_mobile" : "assets/images/mansuit2.png",
	"title": "Svetovalci", 
	"description": "Through our consultancy efforts we achieve an understanding of your personal risk profile, and tailor our recommendations & guidance.", 
	"suptitle" : "Certified expertise",
	"cta" : { 
		"title" : "Naročite svetovalca", 
		"url" : "#" 
	} 
} %}


{% set contactInfoItems = {
	"title" : "Full set of great features to make your product fresh and clean.",
	"description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
	"items" : [
		{
			"title" : "080 35 08",
			"url" : "tel:00386803508"
		},
		{
			"title" : "Kontakti in lokacija",
			"url" : "#"
		},
		{
			"title" : "info@vzajemci.com",
			"url" : "#"
		}
	],
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#",
	}
} %}


{%
    set cardListItems = {
       
       "title": "Best in class services",
       "suptitle" : "Consulting",
       "items" : [
           {
               "title" : "Naložbeno svetovanje",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Pokojninsko svetovanje",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Izdelava in spremljanje portfelja",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Optimizacija zavarovalnih polic",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           },
           {
               "title" : "Posredovanje pri bančnih storitvah",
               "url" : "#",
               "description" : "Very short description, should not cross the threshold of two lines on this median screen width."
           }
       ],
       "featured_item" : {
               "title" : "Naročite termin z svetovalcem",
               "url" : "#featured",
               "image" : "assets/images/vegelj-big.png",
               "is_featured" : true
        },
    }
%}

{%
    set cardListItems2 = {
      "items" : [
          {
              "id" : 1,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 2,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 3,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 4,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 5,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 6,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 7,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 8,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 9,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 10,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 11,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          },
          {
              "id" : 12,
              "title" : "Myhajlo Todurov",
              "jobtitle" : "Svetovalec, Vodja uredništva",
              "url" : "/consult-advisor-3.html",
              "image" : "assets/images/vegelj-big.png"
          }
      ]
  }
%}

{% set imageAsideItems = {
	"title": "Familiarity",
	"description": "Through our consultancy efforts we achieve an understanding of your personal risk profile, and tailor our recommendations & guidance.",
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/office-empty-mobile.png",
    "image_mobile" : "assets/images/office-empty-mobile.png",
} %}

{% set division_name = 'consult' %}

{% block content %}
	<main role="main" class="p-consult p-consult-2">
		{% include "/templates/components/header-consult-2.twig" with { params: headerItems } %}
		<div class="pb-14 lg:pb-50"></div>
        {% include "/templates/components/card-list-2.twig" with { params: cardListItems2 } %}
		<div class="pb-4 lg:pb-30"></div>
        {% include "/templates/components/image-aside-5.twig" with { params: imageAsideItems } %}
		<div class="pb-16 lg:pb-36"></div>
        {% include "/templates/components/card-list-1.twig" with { params: cardListItems } %}
        <div class="pb-2 lg:pb-24"></div>
		{% include "/templates/components/contact-info-1.twig" with { params: contactInfoItems } %}
	</main>
{% endblock %}