{% extends '/templates/layouts/base.twig' %}

{% block content %}
	<main role="main" class="p-{{ page }}">
		{% if _context[page].content|length %}
			{% for item in _context[page].content %}
				{% include "/templates/components/" ~ item.acf_fc_layout ~ ".twig" with { params: item } %}
			{% endfor %}
		{% endif %}
	</main>
{% endblock %}

