{% set title = "neki neki" %}
{% extends '/templates/layouts/base.twig' %}
{% set headerItems = { 
	"title": "Ustvarjeno za vas", 
	"description": "Our investment board observes the market, our products, educates our consultants and in doing so,
our clients as well.", 
	"cta" : { 
		"title" : "Spoznajte odbor", 
		"url" : "#" 
	},
	"items" : [
		{
			"image" : "assets/images/man1.jpg",
			"number" : "12%",
			"caption" : "odstotkov več"
		},
		{
			"image" : "assets/images/man1.jpg",
			"number" : "16%",
			"caption" : "odstotkov več"
		},
		{
			"image" : "assets/images/man1.jpg",
			"number" : "121%",
			"caption" : "odstotkov več"
		}
	]
} %}

{% set imageAsideItems = {
	"title": "Ste pravi tip vlagatelja za invest?",
	"description": "Our investment board observes the market, our products, educates our consultants and in doing so,
our clients as well.",
	"cta" : {
		"title" : "Spoznajte zdaj",
		"url" : "#"
	},
	"image" : "assets/images/mansuit.jpg"
} %}

{% 
	set textBoxItems = { 
		"items" : [
			{ 
				"title": "More is possible", 
				"description": "JonatanMars is a spin-off company of VZAJEMCI Group, and is a result of its extensive presence and influence in the field of finance in the past 18 years.", 
				"cta" : { "title" : "Izvejte več", "url" : "#" },
				"number": 78,
				"percentage": true,
				"title2": "Startup-ov namerava zaposlit novi kader",
			},
			{ 
				"title": "Nepremičnine", 
				"description": "Podjetje, ki je del Skupine Vzajemci. Cilj podjetja je graditi projekte, ki imajo visoko dodano vrednost, in ki bodo pustili pozitiven pečat v slovenski družbi.", 
				"cta" : { "title" : "Izvejte več", "url" : "#" },
				"number": 42,
				"title2": "Stanovanj" 
			}
		]
	} 
%}

{% set advancedSectionItems = {
	"title": "Naložbeni odbor",
	"description": "Our investment board observes the market, our products, educates our consultants and in doing so,
our clients as well.",
	"cta" : {
		"title" : "Spoznajte zdaj",
		"url" : "#"
	},
	"cta2" : {
		"title" : "Naročite svetovalca",
		"url" : "#"
	},
	"image" : "assets/images/people-working.jpg",
	"caption": "Stranke, ki so sodelovale z našimi svetovalci, so v zadnjem letu v povprečju ustvarile",
	"number": {
		"title": 17,
		"caption": "Donosnost",
		"isPercentage": true,
	}
} %}


{% set bannerItems = {
	"title": "During our time in the field of financial consultancy",
	"cta" : {
		"title" : "Želim svetovanje",
		"url" : "#"
	},
	"chartItems" : [
		{
			"number" : "100.000.000",
			"caption": "evrov vloženih sredstev strank"
		}, 
		{
			"number" : "20.000",
			"caption": "strank, ki nam zaupajo"
		},
		{
			"number" : "18",
			"caption": "let na trgu"
		},
		{
			"number" : "40",
			"caption": "poslovnih partnerjev"
		},
		{
			"number" : "700",
			"caption": "objavljenih člankov"
		},
		{
			"number" : "15",
			"caption": "svetovalcev"
		},
	],
} %}


{% block content %}
	<main role="main" class="p-invest-landing">
		{% include "/templates/components/header-invest-1.twig" with { params: headerItems } %}
		<div class="pb-0 lg:pb-36"></div>
		{% include "/templates/components/textbox-double.twig" with { params: textBoxItems } %}
		<div class="pb-32 lg:pb-36"></div>
		{% include "/templates/components/image-aside-2.twig" with { params: imageAsideItems } %}
		<div class="pb-32 lg:pb-32"></div>
		{% include "/templates/components/advanced-section-1.twig" with { params: advancedSectionItems } %}
		<div class="pb-32 lg:pb-32"></div>
		{% include "/templates/components/banner-1.twig" with { params: bannerItems } %}
		<div class="pb-0 lg:pb-38"></div>
	</main>
{% endblock %}
