{% extends '/templates/layouts/base.twig' %}
{% 
	set headerItems = { 
		"logo" : "assets/images/JonatanMars-logo.svg",
		"image" : "assets/images/man-suit-4.png",
		"image_mobile" : "assets/images/man-suit-4-mobile.png",
		"title": "Upravljalci alternativnih investicijski skladov", 
		"description": "Making more possible.", 
		"cta" : { 
			"title" : "Želim svetovanje", 
			"url" : "#" 
		} 
	} 
%}

{# 
	set imageAsideItems = {
		"title": "Ste pravi tip vlagatelja za invest?",
		"description": "Our investment board observes the market, our products, educates our consultants and in doing so,
	our clients as well.",
		"cta" : {
			"title" : "Spoznajte zdaj",
			"url" : "#"
		},
		"image" : "assets/images/mansuit.jpg"
	} 
#}

{% 
	set imageAsideItems2 = {
		"title": "An attractive entry point, [note] somehow we need to transition into how JM manages and guides?",
		"description": "Podjetje, ki je del Skupine Vzajemci. Cilj podjetja je graditi projekte, ki imajo visoko dodano vrednost, in ki bodo pustili pozitiven pečat v slovenski družbi.",
		"logo" : "assets/images/JonatanMars-logo.svg",
		"cta" : {
			"title" : "Izvejte več",
			"url" : "#"
		},
		"image" : "assets/images/people-working-large.png",
		"image2" : "assets/images/people-working-large.png"
	} 
%}

{# 
	set bannerItems = {
		"title": "Make more possible. ",
		"cta" : {
			"title" : "Želim svetovanje",
			"url" : "#",
			"caption" : "Or learn more about us"
		},
		"cta2" : {
			"title" : "Video klic v živo",
			"url" : "#",
			"caption" : "3 trenutno aktivni"
		},
	} 
#}

{# 
	set testimonialItems1 = {
		"quote": "Key statement about the product and how exciting it is, or some other manner of interesting quote.",
		"name" : "Uroš Raspet",
		"jobtitle" : "CEO & Majority Shareholder",
		"image" : "assets/images/guy-left.png",
		"image_first" : true,
	} 
#}

{# 
	set testimonialItems2 = {
		"quote": "Key statement about the product and how exciting it is, or some other manner of interesting quote.",
		"name" : "Dr. David Vegelj",
		"jobtitle" : "Cheif investment offiecer",
		"image" : "assets/images/guy-right.png",
	} 
#}


{% 
	set noteItems = {
		"title": "What does research say for companies in alternative investment funds?",
		"description": "91% of startups globally felt their business was impacted by the recent crisis, but despite this:",
		"note" : "[1] Based on research by Station F, measuring 120 alternative funds.",
		"note_number" : "[1]"
	} 
%}

{% 
	set progressBarItems = {
		"number": "78",
		"is_percent" : true,
		"description": "of startups are planning on hiring.",
		"cta" : {
			"title" : "Želim svetovanje",
			"url" : "#",
		},
	} 
%}

{% 
	set progressBarItems2 = {
		"number": "80",
		"is_percent" : true,
		"description": "have adapted to be more cost efficient and modernized.",
	} 
%}

{% 
	set progressBarItems3 = {
		"number": "48",
		"is_percent" : true,
		"description": "of startus have already hired new employees.",
		"cta" : {
			"title" : "Želim svetovanje",
			"url" : "#",
		},
	} 
%}

{#

	set bannerAdvancedItems = {

		"description": "Več kot samo financiranje razvoja. Za investitorje, ki želijo",
		"textItem1" : "Pustiti pečat",
		"textItem2" : "Ustvarjati delovna mesta",
		"textItem3" : "Vzpodbujeno rast",
		"cta" : {
			"title" : "Želim svetovanje",
			"url" : "#",
		},
		"image" : "assets/images/trak-cityclouds.png",
		"mode" : "light",
	} 

#}

{%
    set timelineItems = {
        "title" : "Več kot samo financiranje razvoja. Za investitorje, ki želijo",
                
        "items" : [
            {
                "title" : "Pustiti pečat",
                "description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
            },
            {
                "title" : "Ustvarjati delovna mesta",
                "description" : "November Prevzem vodilnega mesta med finančno posredniškimi hišami v Sloveniji. Prevzem vodilnega mesta med finančno posredniškimi hišami v Sloveniji.",
            },
            {
                "title" : "Vzpodbujeno rast",
                "description" : "Prevzem vodilnega mesta med finančno posredniškimi hišami v Sloveniji. Prevzem vodilnega mesta med finančno posredniškimi hišami v Sloveniji.",
            },
        ]
    }
%}

{%
    set personInfoItems1 = {
       "image" : "assets/images/Vegelj4-big.png",
       "image_mobile": "assets/images/Vegelj4-big.png",
       "title": "Dr. David Vegelj",
       "jobtitle" : "Cheif investment officer",
       "quote" : "Key statement about the product and how exciting it is, or some other manner of interesting quote.",
       "cta" : {
           "title" : "NAROČITE SVETOVALCA",
           "url" : "#"
       },
	   "image_first" : true
    }
%}

{%
    set personInfoItems2 = {
       "image" : "assets/images/Vegelj4-big.png",
       "image_mobile": "assets/images/Vegelj4-big.png",
       "title": "Dr. David Vegelj",
       "jobtitle" : "Cheif investment officer",
       "quote" : "Key statement about the product and how exciting it is, or some other manner of interesting quote.",
       "cta" : {
           "title" : "NAROČITE SVETOVALCA",
           "url" : "#"
       }
    }
%}


{% set contactInfoItems = {
	"title" : "Full set of great features to make your product fresh and clean.",
	"description" : "Vsi registrirani uporabniki ste enkrat letno upravičeni do brezplačnega pregleda portfelja.",
	"items" : [
		{
			"title" : "080 35 08",
			"url" : "tel:00386803508"
		},
		{
			"title" : "Kontakti in lokacija",
			"url" : "#"
		},
		{
			"title" : "info@vzajemci.com",
			"url" : "#"
		}
	],
	"cta" : {
		"title" : "Naročite svetovalca",
		"url" : "#",
	}
} %}

{% 
	set imageAsideItems = {
		"title": "Ste pravi tip vlagatelja za invest?",
		"description": "Not sales, but consultancy. Our interests are in providing excellent advice and mentorship for our clients.",
		"cta" : {
			"title" : "Naročite svetovalca",
			"url" : "#"
		},
		"layout" : 6,
		"image" : "assets/images/mansuit.jpg",
		"image_mobile" : "assets/images/mansuit.jpg",
	} 
%}


{% block content %}
	<main role="main" class="p-invest-landing">
        {% include "/templates/components/header-invest-3.twig" with { params: headerItems } %}
        <div class="pb-14 lg:pb-0 lg:-mb-15"></div>
        {% include "/templates/components/timeline-2.twig" with { params: timelineItems } %}
        
		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "96", "desktop" : "120" } } %}
		{# end spacer #}

		{% include "/templates/components/text-with-note-1.twig" with { params: noteItems } %}
		
		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "100", "desktop" : "208" } } %}
		{# end spacer #}

		{% include "/templates/components/progress-bar-1.twig" with { params: progressBarItems } %}
		
		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "123", "desktop" : "96" } } %}
		{# end spacer #}

		{% include "/templates/components/progress-bar-2.twig" with { params: progressBarItems2 } %}
		
		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "100", "desktop" : "170" } } %}
		{# end spacer #}

		{% include "/templates/components/progress-bar-3.twig" with { params: progressBarItems3 } %}
		
		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "140", "desktop" : "144" } } %}
		{# end spacer #}

		{% include "/templates/components/image-aside-3.twig" with { params: imageAsideItems2 } %}
		
		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "96", "desktop" : "80" } } %}
		{# end spacer #}

		{% include "/templates/components/person-info-2.twig" with { params: personInfoItems1 } %}

		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "84", "desktop" : "0" } } %}
		{# end spacer #}

		{% include "/templates/components/person-info-2.twig" with { params: personInfoItems2 } %}
		
		{# spacer #}
		{% include "/templates/components/spacer.twig" with { "params": { "mobile" : "84", "desktop" : "96" } } %}
		{# end spacer #}

		{% include "/templates/components/contact-info-1.twig" with { params: contactInfoItems } %}
		
	</main>
{% endblock %}