{% extends '/templates/layouts/base.twig' %}

{% 
    set question1 = {
        "title": "Kateri sektorji vas zanimajo?",
        "suptitle" : "Vprašanje 1",
        
        "cta2" : {
            "title" : "Naprej",
            "url" : "#"
        },
        "items" : [
            {
                "value" : "1",
                "name" : "interest",
                "title" : "Finančne storitve"
            },{
                "value" : "2",
                "name" : "interest",
                "title" : "Zdravstvo"
            },
            {
                "value" : "3",
                "name" : "interest",
                "title" : "Trajne Potrošne Dobrine"
            },
            {
                "value" : "4",
                "name" : "interest",
                "title" : "Industrija"
            },
            {
                "value" : "5",
                "name" : "interest",
                "title" : "Osnovne potrošne dobrine"
            },
            {
                "value" : "6",
                "name" : "interest",
                "title" : "Energetika"
            }
            
        ]
    }
%}

{%
        set question2 = {
            "title": "How would you describe your risk profile?",
            "suptitle" : "Vprašanje 2",
            "cta" : {
            "title" : "Nazaj",
            "url" : "#"
            },
            "cta2" : {
                "title" : "Naprej",
                "url" : "#"
            },
            "caption" : "*Speculative balance represented",
            "items" : [
                {
                    "value" : "80",
                    "name" : "risk",
                    "title" : "High risk*",
                    "title2" : "Low risk*"
                },{
                    "value" : "40",
                    "name" : "yield",
                    "title" : "High yield*",
                    "title2" : "Low yield*"
                },            
            ]
        }
%}

{%
        set question3 = {
            "title": "How much would you like to invest?",
            "suptitle" : "Vprašanje 3",
            "caption" : "*Speculative balance represented",
            "cta" : {
                "title" : "Nazaj",
                "url" : "#"
            },
            "cta2" : {
                "title" : "Naprej",
                "url" : "#"
            },
            "cta3" : {
                "title" : "Preskoči",
                "url" : "#"
            },
            
            "items" : [
                {
                    "value" : "50",
                    "name" : "investment",
                    "title" : "EUR",
                    "max_value" : 100000
                }        
            ]
        }
%}

{%
        set question4 = {
            "title": "What is your age?",
            "suptitle" : "Vprašanje 4",
            "cta" : {
            "title" : "Nazaj",
            "url" : "#"
            },
            "cta2" : {
                "title" : "Naprej",
                "url" : "#"
            },
            "cta3" : {
                "title" : "Preskoči",
                "url" : "#"
            },
            "items" : [
                {
                    "value" : "",
                    "name" : "age",
                }
            ]
        }
%}

{%
            set result = {
                "title": "Jonatan Mars",
                "suptitle" : "Predlagamo",
                "cta" : {
                "title" : "RE-DO",
                "url" : "#"
                },
                "cta2" : {
                    "title" : "Želim svetovanje",
                    "url" : "#"
                },
                "result" :
                {
                    "title" : "More is possible",
                    "description" : "JonatanMars is a spin-off company of VZAJEMCI Group, and is a result of its extensive presence and influence in the field of finance in the past 18 years.",
                    "cta" : {
                        "title" : "Izvejte več",
                        "url" : "#"
                    },
                    "image" : ""
                }         
            }
    %}


{% set division_name = 'quiz' %}
{% set has_footer = false %}

{% block content %}
	<div class="px-5 relative lg:absolute top-8 lg:top-34 left-0 w-full" style="z-index:1000;">
		<div class="flex flex-wrap -mx-5 items-center">
			<div class="flex items-center justify-between w-full px-5">
				<svg onclick="prevButton_quiz1();" class="inline-block mr-0 lg:mr-6 cursor-pointer" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.293 5.293l1.414 1.414L10.414 12l5.293 5.293-1.414 1.414L7.586 12l6.707-6.707z" fill="white"/>
				</svg>
				<svg onclick="nextButton_quiz1();" class="inline-block cursor-pointer mr-2 lg:mr-6" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M9 18.707l-1.414-1.414L12.879 12 7.586 6.707 9 5.293 15.707 12 9 18.707z" fill="white"/>
				</svg>
				<span id="question-number" class="text-peppermint medium-button-bu inline-block mr-2 lg:mr-6">Q. 1
				</span>
				<div class="inline-block bg-white relative" style="width:calc(100% - 270px); height:2px;">
                    <div id="question-progress" class="absolute top-0 left-0 bg-peppermint transition-all" style="height:2px;transition:width 1s ease 0s;"></div>
                </div>
				<div class="inline-block cursor-pointer" onclick="window.location.href = document.referrer; ">
                    <span class="hidden lg:inline-block align-middle medium-button-bu text-white ml-2 lg:ml-6 mr-2">Zapri</span>
					<svg class="inline-block align-middle" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.586 12l-5.293 5.293 1.414 1.414L12 13.414l5.293 5.293 1.414-1.414L13.414 12l5.293-5.293-1.414-1.414L12 10.586 6.707 5.293 5.293 6.707 10.586 12z" fill="white"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<main id="quiz-1" role="main" class="p-invest p-invest-quiz pt-20 lg:pt-0  pb-20 lg:pb-0 select-none">
		<form method="post" novalidate id="quiz-form-1" class="tns-slider" data-tns-disable-touch data-tns-loop data-tns-gallery data-tns-items="1">
			{% include "/templates/components/quiz-multiple-checkboxes.twig" with { params:question1 } %}
			{% include "/templates/components/quiz-range-vertical.twig" with { params:question2 } %}
			{% include "/templates/components/quiz-range-horizontal.twig" with { params:question3 } %}
			{% include "/templates/components/quiz-age.twig" with { params:question4 } %}
			{% include "/templates/components/quiz-result.twig" with { params:result } %}
		</form>
		<script>
			function nextButton_quiz1() {
event.preventDefault();
var slider = document.querySelector("#quiz-form-1");

if (typeof slider.tnsSlider != "undefined") {
slider.tnsSlider.goTo('next');
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}
}
function prevButton_quiz1() {
event.preventDefault();
var slider = document.querySelector("#quiz-form-1");
if (typeof slider.tnsSlider != "undefined") {
slider.tnsSlider.goTo('prev');
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}
}

function redoButton_quiz1() {
event.preventDefault();

var slider = document.querySelector("#quiz-form-1");
slider.reset();
if (typeof slider.tnsSlider != "undefined") {
slider.tnsSlider.goTo(0);
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}
}

window.addEventListener('DOMContentLoaded', function(){
    var slider = document.querySelector("#quiz-form-1");
    
    if (typeof slider.tnsSlider != "undefined") {
        document.querySelector('#question-progress').style.width =  (1 / slider.tnsSlider.getInfo().slideCount * 100) + "%";
        slider.tnsSlider.events.on("indexChanged", (info, eventName) => {
            document.querySelector('#question-number').innerHTML = "Q. " + info.displayIndex;
            document.querySelector('#question-progress').style.width =  (info.displayIndex / info.slideCount * 100) + "%";
        });
        
            
    }
});
		</script>
	</main>
{% endblock %}
