@font-face {
    font-family: 'Tiempos Headline';
    src: url('subset-TiemposHeadline-Medium.woff2') format('woff2'),
        url('subset-TiemposHeadline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Text Regular';
    src: url('subset-TiemposText-RegularItalic.woff2') format('woff2'),
        url('subset-TiemposText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tiempos Text';
    src: url('subset-TiemposText-Regular.woff2') format('woff2'),
        url('subset-TiemposText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('subset-RobotoCondensed-Bold.woff2') format('woff2'),
        url('subset-RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('subset-RobotoCondensed-Regular.woff2') format('woff2'),
        url('subset-RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

