{#
  Section with brand image
#}

{# Output #}
<section class="c-brand-image container">
  <div class="row">
    <div class="col-12 py-20 md:py-25">
        <img class="hidden md:block w-full h-auto" src="{{ manifest('assets/images/brands_desktop.png') }}" alt="">
        <img class="block md:hidden w-full h-auto" src="{{ manifest('assets/images/brands_mobile.png') }}" alt="">
    </div>
  </div>
</section>