{#
  Section with brand image
#}

{# Output #}
<section class="c-brand-image">
  <div class="container-only-lg">
    <div class="flex flex-wrap -mx-5">
      <div class="col-12 py-20 md:py-25">
          <img class="hidden md:block w-full h-auto" src="{{ manifest('assets/images/brands_desktop.png') }}" alt="">
          <img class="block md:hidden w-full h-auto" src="{{ manifest('assets/images/brands_mobile.png') }}" alt="">
      </div>
    </div>
  </div>
</section>