{#
  Card

  Data is loaded from a custom post

  @param {string}  title
  @param {string}  text
  @param {string}  image
  @param {array}   categories
  {
    @param {string}  title
  }
#}

{# Output #}
<div class="c-card rounded overflow-hidden h-full flex flex-col items-center text-center">
  <img class="w-30 mb-2" src="{{ params.image }}" alt="{{ params.title }}">
  <div class="max-w-xxs3">
    <h4 class="font-bold text-gray-111 text-2xl leading-relaxed mb-2 font-malaga-bold relative">{{ params.title }}</h4>
    <p class="text-gray-333 text-base font-malaga leading-tight">{{ params.text }}</p>
  </div>
</div>