{#
  Main menu navigation

  Data is loaded from the global menu field

  @param {array} items
  {
    @param {string}  title
    @param {string}  url
  }
  @param {string}  logo_image
  @param {string}  logo_url
  @param {object} cta {
    @param {string} title
    @param {string} url
  }
#}

{# Output #}
<section class="n-navigation n-navigation-1 navigation">
  <div class="container-only-lg">
    <div class="hidden lg:flex flex-wrap -mx-5 justify-between items-center">
        <div class="col-3">
          <div class="relative flex items-center">
              <img src="{{ manifest('assets/images/Consulting-logo.svg') }}" class="logo mr-6"  alt="">
              <div class=" bg-arcticsilver" style="width:2px; height:48px;"></div>
              <nav class="relative">
                <div class="flex items-center cursor-pointer px-6" style="height:48px;">
                  <svg class="relative inline-block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10l5 5 5-5H7z" fill="#1A262E"/>
                  </svg>
                </div>
                <ul class="hidden relative ">

                </ul>
              </nav>
          </div>
        </div><!-- .col -->
        <div class="col-6">
              <ul class="nav flex flex-wrap justify-center">
                <li>
                  <a class="px-4 arboria-navigation-button text-coalblack" href="#">Consultants</a>
                </li>
                <li>
                  <a class="px-4 arboria-navigation-button text-coalblack" href="#">Services</a>
                </li>
                <li>
                  <a class="px-4 arboria-navigation-button text-coalblack" href="#">About</a>
                </li>
              </ul>
        </div>
        <div class="col-3">
          <div class="relative flex justify-end">
							<a href="{{ params.cta.url }}" class="button button-narrow button-empty medium-button w-full lg:w-auto">naročite svetovalca</a>
					</div>
        </div>
    </div>
  </div>
</section>