{#
  Section with picture

  @param {string}  url
  @param {string}  caption
#}

{# Output #}
<section class="c-picture">
  <div class="container-only-lg">
    <div class="flex flex-wrap -mx-5">
      <div class="col-12 lg:col-8 xl:col-6 mx-auto mb-4 lg:mb-8">
        <img src="{{ params.url }}" loading="lazy" alt="" class="" >
      </div>
    </div>
  </div>
</section>