{#
  profitability


  @param {string}  title
  @param {string}  text
  @param {string}  image
  @param {array}   categories
  {
    @param {string}  title
  }
#}

{# Output #}
<section class="c-profitability w-full relative overflow-hidden">
    <div class="container pt-15 pb-22">
        <div class="row">
            <div class="lg:col-4">
                <h2 class="text-gray-100 text-base font-normal leading-normal">{{ params.description }}</h2>
            </div>
            <div class="lg:col-4 text-center">
                <div class="text-blue-100 text-8xl2 font-bold leading-none">{{ params.percent }}</div>
            </div>
            <div class="lg:col-4 flex-row items-end">
                <div class="uppercase text-gray-100 text-5xl font-bold leading-none">{{ params.title }}</div>
            </div>
        </div>
    </div>
</section>