{#
    Section with title. very simple. just title

    @param {string}  title
#}

{# Output #}
<section class="c-title c-title-1">
    <div class="container-only-lg">
        <div class="flex flex-wrap -mx-5">
            <div class="col-12 xl:col-11 xl:offset-1">
                <h2 class="h3 lg:h1 title text-coalblack">{{ params.title }}</h2>
            </div>
        </div>
    </div>
</section>