{#
    Section with title. very simple. just title

    @param {string}  title
#}

{# Output #}
<section class="c-title c-title-1">
    <div class="container-only-lg">
        <div class="flex flex-wrap -mx-5">
            <div class="col-12 lg:col-8 xl:col-7 xl:offset-1">
                <h2 class="h3 lg:h1 title text-coalblack">{{ params.title }}</h2>
            </div>
            {% if params.cta %}
            <div class="col-12 lg:col-4 xl:col-3">
                
            </div>
            {% endif %}
        </div>
    </div>
</section>