<footer class="footer footer-1 pt-12 lg:pt-19 pb-18 lg:pb-0">
	<div class="container-only-lg">
			<div class="flex flex-wrap -mx-5 mb-4 lg:mb-10">
				<div class="col-12 lg:col-5 xl:col-4 xl:offset-1 mb-8 lg:mb-0">
					<div>
						<!--<a href="#" class="logo pr-6 border-r border-solid border-textgray">
							<img src="{{ manifest('assets/images/Invest-logo-on-dark.svg') }}" alt="">
						</a>-->
						<div class="h5 title text-coalblack mb-2 lg:mb-1">Drop us a line or two, we are open for creative minds and collaborations!</div>
						<div>
							<a class="text-peppermint h6 lg:h5 title" href="mailto:vzajemci@vzajemci.si">vzajemci@vzajemci.si</a>
						</div>
					</div>
				</div>
				<!-- .col -->
				<div class="col-12 lg:col-7 xl:col-5 xl:offset-1 lg:text-right">
					<a href="#" class="block lg:inline-block lg:px-6 py-6 lg:py-4 lg:text-right border-b lg:border-b-0 lg:border-r border-arcticsilver">
						<div class="text-midtonegray small-tag lg:under-name-title lg:mb-0">Vzajemci</div>
						<div class="text-coalblack h5 lg:h5 title">Consulting</div>
					</a>
					<a href="#" class="block lg:inline-block lg:px-6 py-6 lg:py-4 lg:text-right border-b lg:border-b-0 lg:border-r border-arcticsilver">
						<div class="text-midtonegray small-tag lg:under-name-title lg:mb-0">Vzajemci</div>
						<div class="text-coalblack h5 lg:h5 title">Academy</div>
					</a>
					<a href="#" class="block lg:inline-block lg:pl-6 py-6 lg:py-4 lg:text-right">
						<div class="text-midtonegray small-tag lg:under-name-title lg:mb-0">Vzajemci</div>
						<div class="text-coalblack h5 lg:h5 title">Invest</div>
					</a>
				</div>
				<!-- .col -->
			</div>
			<!-- .flex flex-wrap -mx-5 -->
			<div class="flex flex-wrap -mx-5 lg:mb-20 lg:items-center">
				<div class="col-12 lg:col-5 xl:col-4 xl:offset-1 hidden lg:block">
					<div class="small-paragraph" style="color:#666;">Vzajemci Skupina d.o.o.<br>Litostrojska 52<br>1000 Ljubljana</div>
				</div><!-- .col -->
				<div class="col-12 lg:col-7 xl:col-5 xl:offset-1 mb-8 lg:mb-0">
					<!--<div class="font-medium text-gray-100 text-sm mb-3">Stay with us:</div>-->
					<div class="socials-footer flex lg:justify-end">
						<a class="social-icon mr-8 ml-0 lg:ml-4 lg:mr-0" href="#">
							<svg class="inline-block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M22 12C22 6.47715 17.5229 2 12 2C6.47715 2 2 6.47715 2 12C2 16.9912 5.65684 21.1283 10.4375 21.8785V14.8906H7.89844V12H10.4375V9.79688C10.4375 7.29063 11.9305 5.90625 14.2146 5.90625C15.3088 5.90625 16.4531 6.10156 16.4531 6.10156V8.5625H15.1922C13.95 8.5625 13.5625 9.3334 13.5625 10.1242V12H16.3359L15.8926 14.8906H13.5625V21.8785C18.3432 21.1283 22 16.9912 22 12Z" fill="#54bab3"/>
							</svg>
						</a>
						<a class="social-icon mr-8 ml-0 lg:ml-4 lg:mr-0" href="#">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M21.4746 5.27755C20.7227 5.70986 19.8874 6.02645 18.9988 6.19682C18.2893 5.4607 17.2758 5 16.1541 5C14.0013 5 12.257 6.69585 12.257 8.78638C12.257 9.0831 12.2914 9.37201 12.3564 9.64886C9.11703 9.49198 6.24522 7.98424 4.32337 5.69353C3.98723 6.25219 3.79505 6.90242 3.79505 7.59737C3.79505 8.9099 4.4834 10.0705 5.5291 10.7484C4.89043 10.7278 4.28903 10.5582 3.76436 10.2742V10.3225C3.76436 12.1568 5.10746 13.6879 6.89047 14.0358C6.56382 14.1217 6.21891 14.1671 5.86304 14.1671C5.61167 14.1671 5.36833 14.1437 5.12938 14.1011C5.62701 15.6039 7.06584 16.6992 8.77139 16.7297C7.43706 17.7441 5.75636 18.3503 3.93023 18.3503C3.61601 18.3503 3.30545 18.3325 3 18.2978C4.72528 19.3718 6.77428 20 8.976 20C16.1453 20 20.065 14.2296 20.065 9.22578C20.065 9.0611 20.0628 8.89925 20.0555 8.73669C20.8155 8.20288 21.4775 7.53632 22 6.77464C21.3007 7.07704 20.5495 7.27935 19.7603 7.37092C20.5663 6.90384 21.1838 6.16062 21.4746 5.27755Z" fill="#54bab3"/>
							</svg>
						</a>
						<a class="social-icon mr-8 ml-0 lg:ml-4 lg:mr-0" href="#">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17.8333 2H6.16667C3.86583 2 2 3.86583 2 6.16667V17.8333C2 20.1342 3.86583 22 6.16667 22H17.8333C20.135 22 22 20.1342 22 17.8333V6.16667C22 3.86583 20.135 2 17.8333 2ZM8.66667 17.8333H6.16667V8.66667H8.66667V17.8333ZM7.41667 7.61C6.61167 7.61 5.95833 6.95167 5.95833 6.14C5.95833 5.32833 6.61167 4.67 7.41667 4.67C8.22167 4.67 8.875 5.32833 8.875 6.14C8.875 6.95167 8.2225 7.61 7.41667 7.61ZM18.6667 17.8333H16.1667V13.1633C16.1667 10.3567 12.8333 10.5692 12.8333 13.1633V17.8333H10.3333V8.66667H12.8333V10.1375C13.9967 7.9825 18.6667 7.82333 18.6667 12.2008V17.8333Z" fill="#54bab3"/>
							</svg>
						</a>
						<a class="social-icon mr-8 ml-0 lg:ml-4 lg:mr-0" href="#">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C3.45228 5 3 5.45228 3 6V18C3 18.5477 3.45228 19 4 19H20C20.5477 19 21 18.5477 21 18V6C21 5.45228 20.5477 5 20 5H4ZM1 6C1 4.34772 2.34772 3 4 3H20C21.6523 3 23 4.34772 23 6V18C23 19.6523 21.6523 21 20 21H4C2.34772 21 1 19.6523 1 18V6Z" fill="#54bab3"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M1.18079 5.42662C1.49751 4.97417 2.12104 4.86414 2.57349 5.18085L12 11.7794L21.4266 5.18085C21.879 4.86414 22.5025 4.97417 22.8193 5.42662C23.136 5.87907 23.0259 6.5026 22.5735 6.81932L12.5735 13.8193C12.2292 14.0603 11.7709 14.0603 11.4266 13.8193L1.42656 6.81932C0.974113 6.5026 0.864078 5.87907 1.18079 5.42662Z" fill="#54bab3"/>
							</svg>

						</a>
					</div>
				</div>
				<!-- .col -->
			</div>
			<!-- .flex flex-wrap -mx-5 -->
			<div class="flex flex-wrap -mx-5 py-4 lg:py-8">
				<div class="col-12 lg:col-6 xl:offset-1 mb-4 lg:mb-0">
					<div class="small-paragraph text-midtonegray">Copyright © 2016 Vzajemci Skupina  d.o.o. Vse pravice pridržane.</div>
				</div>
				<div class="col-12 lg:col-6 xl:col-4">
					<div class="lg:flex lg:justify-end mb-8 lg:mb-0">
						<a class="mr-8 lg:ml-6 lg:mr-0 small-paragraph text-midtonegray" href="#">Pravno obvestilo</a>
						<a class="mr-8 lg:ml-6 lg:mr-0 small-paragraph text-midtonegray" href="#">Piškotki</a>
					</div>
				</div>
			</div>
	</div>
</footer>
