.tiempos-headline,
.tiempos-hl {
  font-family: 'Tiempos Headline';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.tiempos,
.tiempos-regular {
  font-family: 'Tiempos Text';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.tiempos-i,
.tiempos-italic {
  font-family: 'Tiempos Text';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.roboto-c,
.roboto-condensed {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
}